@model CustomerDataUploader.Models.UploadFileViewModel

<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script type="text/javascript">
    $(document).ready(

        function () {
            $('#fileName').change(
                function () {
                    $('#submitFile').removeClass("hidden");
                    $('#selectedFile').text($('#fileName').val());
                    $('#ratio').text("");
                }
            );
        }
    );

    var process = function () {
        $('#submitFile').addClass("hidden");
        $('#loader').modal();
    }

</script>

@{
    ViewBag.Title = "UploadFile";
}

<h2>Upload Customer Data</h2>
<div class="modal hide" id="loader" data-backdrop="static" data-keyboard="false">

</div>

<div>
    @using (Html.BeginForm("UploadFileAsync", "Home", FormMethod.Post, new { enctype = "multipart/form-data", id = "fileForm", onsubmit= "process()" }))
    {
        <input type="file" id="fileName" name="fileName" style="width: 95px" /><p id="selectedFile">@Model.fileName</p>
        <input type="submit" id="submitFile" class="btn-success hidden" value="Start Upload" />
    }
    
    <div id="result">
        <p id="ratio">Success Rate:    @Model.successCount / @Model.total</p>
        @if (Model.total > 0)
        {
            foreach (var cm in Model.customers.Where(c=>c.UploadErrors != null))
            {
                <p>@cm.CustomerData.customer : @cm.UploadErrors[0])</p>
            }
            @*foreach (var cm in Model.customers)
            {
                <p>@cm.Hash.Substring(32)</p>
            }*@
        }
    </div>

</div>